 
<div ng-show="!openModal">
  {{openModal}}
  <div>
    <h2>{{currentItem.name}}</h2>
    <p>{{currentItem.description}}</p>
    <p>{{currentItem.price | currency }}</p>
  </div>

  <form name="addItemToOrder" ng-model="currentItem" ng-controller="roomserviceCreateCtrl" class="roomserviceForm" novalidate>
    <label>Quantity</label>
    <select
      ng-options="n as n for n in numItems"
      ng-model="quantity"
    ></select>

    <label>Special Instructions</label>
    <textarea
      ng-model="instructions"
    ></textarea>
  <button ng-click="addToOrder()">add to order</button>
  </form>
  <button ng-click="closeModal()">cancel</button>
</div>

<div ng-hide="!openModal" ng-repeat="menu_item in menu_items">
  <h2>{{menu_item.name}}</h2>
  <label>Description: </label> {{menu_item.description}}
  <label>Price: </label>{{menu_item.price | currency}}
  <button ng-click="openOrderDetailsModal($index)">Add to Order</button>
</div>