 
<div ng-show="!openModal">
  {{openModal}}
  <div>
    <h2>{{currentItem.name}}</h2>
    <p>{{currentItem.description}}</p>
    <p>{{currentItem.price | currency }}</p>
  </div>

    <label>Quantity</label>
    <select
      id="item_quantity"
      ng-options="n as n for n in numItems"
      ng-model="quantity"
    ></select>

    <label>Special Instructions</label>
    <textarea
      id="item_instructions"
      ng-model="instructions"
    ></textarea>
  <button ng-click="addToOrder()">add to order</button>

  <button ng-click="closeModal()">cancel</button>
</div>

<div ng-hide="!openModal">
  <div  ng-repeat="menu_item in menu_items">
    <h2>{{menu_item.name}}</h2>
    <label>Description: </label> {{menu_item.description}}
    <label>Price: </label>{{menu_item.price | currency}}
    <button ng-click="openOrderDetailsModal($index)">Add to Order</button>
  </div>
  <button ng-click="createOrder()">Create</button>
</div>