<div class="container logo">
  <img alt="Hotelbutlerlogo" class="hb-img-small" src="/assets/hotelButlerLogo-69c805516114571e2f8f25b4a80ef36d.png" /></br>
  <h3>HotelButler</h3>
</div>

<div class="container">
  <div id='noTrip' ng-hide="existingStay()" class="ng-hide">
    <h3>You don't have any upcoming stays</h3>
    <h4><a href="#/stays/new">Create a new Stay</a></h4>
  </div>

  <div id='noTrip' ng-show="existingStay()" class="ng-hide">
    <div class="menu-choice"><a href="#/stays/{{nextStay().id}}">View your next Stay</a></div>
    <div class="menu-choice"><a href="#/stays/new">Create a new Stay</a></div>
  </div>

</div>