<div class="logo-hotel">
  <img ng-src="/assets/{{stay.room.hotel.logo_img}}">
</div>
<div class="service">Housekeeping</div>

<form name="newHouseekingForm" ng-submit="createHousekeeping()" ng-controller="housekeepingCreateCtrl" class="houseekingForm" novalidate>

  <!-- request -->
  <div class="form-group">
   <label>How can we help you?</label>
   <textarea 
   type="text" 
   ng-model="request"
   name="reservation"
   required
   ></textarea>
 </div>

 <button class="button tiny" type="submit">Create Request</button>

</form>