<form name="newStayForm" ng-submit="createStay()" ng-controller="stayCreateCtrl" class="stayForm" novalidate>

  <!-- Hotel -->
  <div class="form-group">
   <label>Hotel Name</label>
   <select 
   ng-model="stay.hotel_id" 
   ng-options="h.id as h.name for h in hotels"
   name="hotelName"
   required
   ></select>
   <span ng-show="newStayForm.hotelName.$invalid && newStayForm.hotelName.$pristine ">Required!</span>
 </div>

<!-- Reservation Number -->
 <div class="form-group">
   <label>Reservation#</label>
   <input 
   type="text" 
   ng-model="stay.res_num"
   name="reservation"
   required
   ng-minlength="5"
   ng-maxlength="5"
   >
   <span ng-show="newStayForm.reservation.$invalid && newStayForm.reservation.$pristine ">Required!</span>
   <span ng-show="newStayForm.reservation.$error.minlength">Res# too short!</span>
   <span ng-show="newStayForm.reservation.$error.maxlength">Res# too long!</span>
 </div>

 <div class="form-group">
   <label>Checkin Date</label>
   <input 
   ui-date='dateOptions' 
   name="checkinDate" 
   ng-model="stay.checkin_date"
   required="true"
   >
   <span ng-show="newStayForm.checkinDate.$invalid && newStayForm.checkinDate.$pristine ">Required!</span>
 </div>

 <div class="form-group">
   <label>Checkout Date</label>
   <input 
   ui-date='dateOptions' 
   name="checkoutDate" 
   ng-model="stay.checkout_date"
   required="true"
   >
   <span ng-show="newStayForm.checkoutDate.$invalid && newStayForm.checkoutDate.$pristine ">Required!</span>
 </div>

 <button type="submit" ng-disabled="newStayForm.$invalid">Create Stay</button>

</form>