
<img ng-src="/assets/{{stay.room.hotel.logo_img}}" class="logo-hotel">

<div class="row mainMenu" ng-show="checkedIn()">
  <div class="menu_choice"><a href="#/stays/{{stay.id}}/concierge/new">Concierge</a></div>
  <div class="menu_choice"><a href="#/stays/{{stay.id}}/housekeeping/new">Housekeeping</a></div>
  <div class="menu_choice"><a href="#/stays/{{stay.id}}/roomservice/new">Roomservice</a></div>
</div>

<br>

<div class="row" ng-hide="checkedIn()">
  If you have not checked in yet, please come back after you checkin to use HotelButler services</br>
  If you are already checked out, you can no longer use HotelButler services for this stay
</div>