/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require smoothness/jquery-ui
 *= require_tree .
 */

.container {
  width: 300px;
  margin: 0 auto;  
}

.container.logo {
  text-align: center;
}

.container.logo.welcome {
  margin-top: 50px;
}

.hb-img-small {
  width: 100px;
}

.header {
  text-align: center;
}

.sign-out {
  color: white;
}

.menu-choice {
  margin: 5px;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.service{
  text-align:center;
  font-size: 1em;
  padding: 15px;
}

.logo-hotel {
  width: 250px;
  margin: 0 auto;
}

.menu_item_container {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

