<div class="container logo welcome">
  <%= image_tag 'hotelButlerLogo.png'%></br>
  <h2>HotelButler</h2>
</div>

<div class="container">
  <div>
    <div class="small-6 small-centered columns">
      <%= link_to "Sign In", new_guest_session_path %> |
      <%= link_to "Sign Up", new_guest_registration_path %>
    </div>
  </div>
</div>