<div class="row">
  <div id="logo" class="small-4 small-centered columns">HotelButler</div>
</div>

<div class="row">
  <div class="small-4 small-centered columns">
    <%= link_to "Sign Up", new_guest_registration_path %>

<%= link_to "Sign In", new_guest_session_path %>
</div>
</div>